.pages
{
    display: grid;
    grid-auto-flow: column;
    grid-column: 2 / 3;
}
.pages > button
{
    color: var(--black);
    background-color: var(--white);
    border: 5px solid var(--black);
    cursor: pointer;
}
.active_page
{
    color: var(--white) !important;
    background-color: var(--black) !important;
}