.table 
{
    grid-column: 2 / 3;
    border-collapse: collapse;
    text-align: center;
}
.table tr:nth-child(2n)
{
    background-color: var(--gray);
    color: var(--white);
}
.table th
{
    background-color: var(--black);
    color: var(--white);
}